body {
    display: flex;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

nav {
    width: 100vw;
    font-family: 'Lucida Sans';
    float: initial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(20, 20, 20);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:rgb(0, 167, 167);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

header {
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: 'Lucida Sans';
}

p {
    font-family: 'Arial';
}

.introduction {
    font-size: 20px;
    /* font-weight: bold; */

    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
    line-height: 20px;
}

.justify {
    font-size: 14px;

    width: 50%;

    text-align: justify;
    line-height: 20px;
}