venv/
QR_API.egg-info/

__pycache__/

api/__pycache__/
api/services/__pycache__/

core/__pycache__/
core/model/__pycache__/
core/schemas/__pycache__/

test/__pycache__/

utils/__pycache__/

webpage/__pycache__/